@media screen {

    /* Resource form */

    form.resource-form.closed-property-list.on-load #property-selector {
        display: none;
    }

    a.value-language.no-language {
         display: none;
     }
    .resource-values.field .inputs .no-language ~ textarea {
        padding-left: 6px;
    }

    .autofiller .spinner {
        position: absolute;
        right: 0;
        margin-top: 12px;
        margin-right: 6px;
        opacity: 0;
    }
    .autofiller .spinner.processing {
        opacity: 0.75;
    }

    /* // Old fix for custom vocab.
    .resource-form .value:not(:only-of-type) .input-body {
        max-width: inherit;
    }
    .resource-form .value .input-body input.customvocab-open {
        max-width: calc(100% - 12px);
        margin: 6px;
        background-color: #fff;
    }
    */

    /* Manage large values in custom vocab. See Thesaurus. */
    .field.resource-property .chosen-container-single .chosen-single span {
        white-space: break-spaces;
    }

    .art-no-more-actions.art-direct-buttons .resource-form .input-footer .actions {
        justify-content: flex-start;
    }
    .art-no-more-actions.art-direct-buttons .resource-form .input-footer .actions li {
        line-height: 24px;
    }
    .art-no-more-actions.art-direct-buttons .resource-form .input-footer .actions a:not(.o-icon-undo)::before {
        line-height: 24px;
        height: 24px;
    }

    .art-no-language .resource-form .input-body .value-language,
    .art-no-more-actions .resource-form .input-footer .actions .more-actions a,
    .art-no-visibility .resource-form .input-footer .actions .value-visibility,
    .art-no-value-annotation .resource-form .input-footer .actions .value-annotation-annotate {
        display: none;
    }
    .art-no-language .resource-form .input-body .value-language ~ textarea {
        padding-left: 12px;
    }
    .art-no-metadata-description .resource-form .field-meta > a.collapse,
    .art-no-metadata-description .resource-form .field-meta > a.expand,
    .art-no-metadata-description .resource-form .field-meta > .collapsible {
        display: none !important;
    }

    .autocomplete-suggestions {
        border: 1px solid #999;
        background: #fff;
        overflow: auto;
    }
    .autocomplete-suggestion {
        padding: 2px 5px;
        white-space: nowrap;
        overflow: hidden;
        margin-left: 2px;
        margin-right: 6px;
    }
    .autocomplete-selected {
        background: #f0f0f0;
    }
    .autocomplete-suggestions strong {
        font-weight: normal;
        color: #3399ff;
    }
    .autocomplete-group {
        padding: 2px 5px;
    }
    .autocomplete-group strong {
        display: block;
        border-bottom: 1px solid #000;
    }

    .autocomplete-suggestion .suggest-info.autofill {
        font-size: 0.8rem;
        margin-left: 6px;
        color: #666666b0;
    }
    .autocomplete-suggestion .suggest-info.autofill dl {
        margin-top: 0;
        margin-bottom: 2px;
        display: flex;
        flex-wrap: wrap;
        width:100%;
        max-width: 100%;
        word-wrap: normal;
        word-break: normal;
        white-space: normal
    }
    .autocomplete-suggestion .suggest-info.autofill dl > * {
        padding-top: 0.5em;
    }
    .autocomplete-suggestion .suggest-info.autofill dl dt {
        width:30%;
        font-size: 0.7rem;
        text-align:right;
        padding-right: 4px;
        line-height: 1.25em;
    }
    .autocomplete-suggestion .suggest-info.autofill dl dd {
        width:60%;
        padding-left:1em;
        margin-left: 0px;
        white-space: nowrap;
    }
    .autocomplete-suggestion .suggest-info.autofill dl dd + dd {
        width: 100%;
        padding-left: calc(30% + 1em);
    }
    .autocomplete-suggestion .suggest-info.autofill dl dt + dt {
        padding-right: 60%;
    }
    .autocomplete-suggestion .suggest-info.autofill dl dt + dt + dd {
        margin-top: -1.625em; /* own height including padding */
        padding-left: calc(30% + 1em);
    }

    body.modal div[role="main"] > h1:first-of-type {
        width: 100%;
    }
    body.modal header,
    body.modal footer {
        display: none !important;
    }
    body.modal .resource-form .section-nav #item-media-label,
    body.modal .resource-form .section-nav #thumbnail-label {
        display: none !important;
    }
    .quick-add-resource {
        min-height: 0 !important;
        background-color: rgba(0,0,0,.08) !important;
        color: #676767 !important;
        border-radius: 3px;
        border: 0;
        box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset !important;
        padding: 6px 10px;
        margin: 9px 0 6px 6px !important;
        text-align: center;
        cursor: pointer;
        float: right;
    }
    .quick-add-resource::before {
        margin-right: 6px;
    }
    .quick-add-resource:hover:not(.inactive) {
        box-shadow: 0 0 0 1px rgba(0,0,0,.3) inset !important;
    }

    .quick-add-resource.inactive {
        box-shadow: none !important;
        background-color: #d2d2d2 !important;
        cursor: default;
        border: 0;
    }
    body.modal.sidebar-open header {
        width: 0;
    }
    body.modal.sidebar-open #content {
        width: 75%;
    }

    #o_resource_class_id_chosen.chosen-container-multi .chosen-choices li.search-choice {
        min-width: 100%;
    }

    /* Template show */
    .class-row .class-term,
    #properties .property-term {
        display: table;
        font-size: small;
    }

    /* Template form */
    /* Adaptation from module DataVisualization */

    form #properties .property.row .visibility {
        margin-left: 12px;
        margin-right: 12px;
        padding: 0 6px;
    }
    form #properties .property.row .visibility.o-icon-public {
        display: none;
    }
    form #properties .property.row .visibility.o-icon-private {
        opacity: 0.5;
    }
    form #properties .property.row .property-term {
        display: inherit;
        font-size: small;
        margin-left: auto;
        margin-right: 12px;
        opacity: 0.8;
    }
    form #properties .property.row .property-term ~ .actions,
    form #properties .property.row .property-term ~ .title-property-cell,
    form #properties .property.row .property-term ~ .description-property-cell {
      margin-left: 0;
    }

    form > .settings > a::after {
        margin-left: 12px;
    }
    form > .settings > a > legend {
        display: inline-block;
    }

    #page-action-menu {
        display: inline-block;
        position: relative;
    }

    #page-action-menu ul {
        display: none;
        list-style: none;
        border: 1px solid #dfdfdf;
        background-color: #fff;
        border-radius: 3px;
        text-align: left;
        padding: 0;
        position: relative;
        box-shadow: 0 0 5px #dfdfdf;
        position: absolute;
        right: 0;
        width: auto;
        white-space: nowrap;
        margin: 12px 0;
    }

    #page-action-menu ul::before {
        content: "";
        position: absolute;
        bottom: calc(100% - 1px);
        right: 12px;
        width: 0;
        height: 0;
        border-bottom: 12px solid #fff;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
    }

    #page-action-menu ul::after {
        content: "";
        position: absolute;
        bottom: calc(100% - 1px);
        right: 11px;
        width: 0;
        height: 0;
        border-bottom: 14px solid #dfdfdf;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        z-index: -1;
    }

    #page-action-menu ul a,
    #page-action-menu ul .inactive {
        padding: 6px 12px 5px;
        display: block;
        position: relative;
    }

    #page-action-menu ul .inactive {
        color: #dfdfdf;
    }

    #page-action-menu ul li {
      position: relative;
    }

    #page-action-menu ul li:hover::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        background-color: #dfdfdf;
    }

    #page-action-menu ul li:not(:last-child) a,
    #page-action-menu ul li:not(:last-child) span,
    #page-action-menu ul li:not(:last-child) [type="submit"] {
        border-bottom: 1px solid #dfdfdf;
    }

    #page-action-menu [type="submit"] {
        background: none;
        box-shadow: none;
        width: 100%;
        margin-bottom: 0;
        text-align: left;
    }

    #page-action-menu .expand::after {
        content: "\f0d7";
    }

    #page-action-menu .expand::after,
    #page-action-menu .collapse::after {
        margin-left: 6px;
    }

    #page-action-menu .collapse + .collapsible {
        overflow: visible;
        display: block;
    }
}

@media screen and (max-width: 640px) {
    body.modal.sidebar-open #content {
         width: 100%;
    }
}
